{{ 'collage2.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-modal-video.css' | asset_url | stylesheet_tag }}



{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">




  <div class="section-p section-m">

           <div id="Scroll-Section" class="section-1 custom-section-header wf-section">
    <div class="wrapper">
      <div class="shop-header">
        <h3 class="no-margin">Now We Need Your Help</h3>
        <div class="view-all">
          <a href="/collections/donations-pot" class="link arrow-link">
              View More 
              <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
      <div class="shop-header-line">
      <div class="shop-header-color">&nbsp;</div>
      </div>
      </div>
    </div>
</div>

  
      

    <div class="container"><div class="row"> 
        <div class="col-12 col-md-6">

    
    <div class="collage2{% if section.settings.mobile_layout == 'collage2' %} collage2--mobile{% endif %}">
      {%- for block in section.blocks -%}
        <div class="collage2__item collage2__item--{{ block.type }} collage2__item--{{ section.settings.desktop_layout }}" {{ block.shopify_attributes }}>
          {%- case block.type -%}
            {%- when 'image' -%}
              <div class="collage2-card color-{{ settings.card_color_scheme }}{% if block.settings.image_padding %} collage2-card-spacing{% endif %}">
                <div class="donate-wrapper media media--transparent ratio"{% if block.settings.image != blank %} style="--ratio-percent: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%"{% else %} style="--ratio-percent: 100%"{% endif %}>
                  {%- if block.settings.image != blank -%}
                  {%- if block.settings.donate_text != blank -%}
                    <div class="donate-text">
                      <p>{{ block.settings.donate_text }}</p>
                      <a href="/collections/donations-pot">
                      {% render "icon-arrow"%}
                      </a>
                      </div>
                      {%- endif -%}
                    <img
                      srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | image_url: width: 990 }} 990w,{%- endif -%}
                        {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                        {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                        {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                      src="{{ block.settings.image | image_url: width: 1500 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                      alt="{{ block.settings.image.alt | escape }}"
                      loading="lazy"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                    >
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  {%- endif -%}
                </div>
              </div>
            {%- when 'product' -%}
              {% render 'card-product',
                card_product: block.settings.product,
                media_aspect_ratio: 'adapt',
                show_secondary_image: block.settings.second_image,
                extend_height: true
              %}
            {%- when 'collection' -%}
              {% render 'card-collection',
                card_collection: block.settings.collection,
                media_aspect_ratio: 'adapt',
                columns: 2,
                extend_height: true
              %}
            {%- when 'video' -%}
              <div class="collage2-card color-{{ settings.card_color_scheme }}">
                
                <noscript>
                  <a href="{{ block.settings.video_url }}" class="collage2-card__link{% if block.settings.image_padding %} collage2-card-spacing{% endif %}">
                    <div class="media media--transparent ratio"{% if block.settings.cover_image != blank %} style="--ratio-percent: {{ 1 | divided_by: block.settings.cover_image.aspect_ratio | times: 100 }}%"{% else %} style="--ratio-percent: 100%"{% endif %}>
                      {%- if block.settings.cover_image != blank -%}
                        <img
                          srcset="{%- if block.settings.cover_image.width >= 550 -%}{{ block.settings.cover_image | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 720 -%}{{ block.settings.cover_image | image_url: width: 720 }} 720w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 990 -%}{{ block.settings.cover_image | image_url: width: 990 }} 990w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 1100 -%}{{ block.settings.cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 1500 -%}{{ block.settings.cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 2200 -%}{{ block.settings.cover_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 3000 -%}{{ block.settings.cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                            {{ block.settings.cover_image | image_url }} {{ block.settings.cover_image.width }}w"
                          src="{{ block.settings.cover_image | image_url: width: 1500 }}"
                          sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                          alt="{{ block.settings.description | escape }}"
                          loading="lazy"
                          width="{{ block.settings.cover_image.width }}"
                          height="{{ block.settings.cover_image.height }}"
                        >
                      {%- else -%}
                        {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                  </a>
                </noscript>
                <modal-opener class="no-js-hidden" data-modal="#PopupModal-{{ block.id }}">
                  <div class="deferred-media">
                    <button class="deferred-media__poster full-unstyled-link{% if block.settings.image_padding %} collage2-card-spacing{% endif %}" type="button" aria-label="{{ 'sections.video.load_video' | t: description: block.settings.description | escape }}" aria-haspopup="dialog" data-media-id="{{ block.settings.video_url.id }}">
                      <div class="media media--transparent ratio"{% if block.settings.cover_image != blank %} style="--ratio-percent: {{ 1 | divided_by: block.settings.cover_image.aspect_ratio | times: 100 }}%"{% else %} style="--ratio-percent: 100%"{% endif %}>
                        <span class="deferred-media__poster-button motion-reduce">
                          {%- render 'icon-play' -%}
                        </span>
  
                        {%- if block.settings.cover_image != blank -%}
                          <img
                            srcset="{%- if block.settings.cover_image.width >= 550 -%}{{ block.settings.cover_image | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 720 -%}{{ block.settings.cover_image | image_url: width: 720 }} 720w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 990 -%}{{ block.settings.cover_image | image_url: width: 990 }} 990w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 1100 -%}{{ block.settings.cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 1500 -%}{{ block.settings.cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 2200 -%}{{ block.settings.cover_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 3000 -%}{{ block.settings.cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                              {{ block.settings.cover_image | image_url }} {{ block.settings.cover_image.width }}w"
                            src="{{ block.settings.cover_image | image_url: width: 1500 }}"
                            sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                            alt="{{ block.settings.description | escape }}"
                            loading="lazy"
                            width="{{ block.settings.cover_image.width }}"
                            height="{{ block.settings.cover_image.height }}"
                          >
                        {%- else -%}
                          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                      </div>
                    </button>
                  </div>
                </modal-opener>
                <modal-dialog id="PopupModal-{{ block.id }}" class="modal-video media-modal color-background-1">
                  <div class="modal-video__content" role="dialog" aria-label="{{ block.settings.description | escape }}" aria-modal="true" tabindex="-1">
                    <button id="ModalClose-{{ block.id }}" type="button" class="modal-video__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
                    <div class="modal-video__content-info">
                      <deferred-media class="modal-video__video template-popup">
                        <template>
                          {%- if block.settings.video_url.type == 'youtube' -%}
                            <iframe src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}" ></iframe>
                          {%- else -%}
                            <iframe src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}"></iframe>
                          {%- endif -%}
                        </template>
                      </deferred-media>
                    </div>
                  </div>
                </modal-dialog>
              </div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>






    
  </div>
    
    <div class="col-12 col-md-6">
<!--       <div id="ImageWithText--template--16677415977196__174a8597-1440-4f95-bd46-56d146a6d0b5" class="custom-image-with-text image-with-text__content image-with-text__content--top image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container"> -->
      <div class="quantm custom-image-with-text2 image-with-text__content--top image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container">
        
        <h2 class="quantmheading">{{ section.settings.heading | escape }}</h2>
        <div class="description more-description image-with-text__text rte body">
          <p>{{ section.settings.caption | escape }}</p></div>

        

        <div class="progress_box">
          <div class="progress">
            <div class="progress_bar" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%;">
            </div>
          </div>
          <span class="progress_text">32% Complete</span>
        </div>

<div class="customer__notes">
  <div class="note">
    <h2 class="customer__noteh2">{{ section.settings.target_amount | escape }}</h2>
    <p class="customer__notesp">Target amount</p>
    </div>
    
    <div class="note">
    <h2 class="customer__noteh2">{{ section.settings.amount_raised | escape }}</h2>
    <p class="customer__notesp">Amount Raised</p>
    </div>
    
    <div class="note">
    <h2 class="customer__noteh2">{{ section.settings.amount_remaining | escape }}</h2>
    <p class="customer__notesp">Amount Remaining</p>
  </div>
</div>

                  <a href="/collections/donations-pot" class="primary-quantm-btn button--primary">
                 Donate
                </a><!--<a href="/pages/about-us" class="custom-raffle-button button--primary" >
                 <i class="fa-regular fa-arrow-up-from-bracket"> Donate
                </a>--><a href="/pages/about-us" class="secondary-quantm-btn button--primary">
                 Share
                </a><!--<a href="/pages/about-us" class="custom-raffle-button button--primary" >
                 <i class="fa-regular fa-arrow-up-from-bracket"> Share
                </a>--></div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "t:sections.collage2.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "PROVIDE CLOTH FOR THE NEEDY",
      "label": "t:sections.collage2.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "caption",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "target_amount",
      "default": "£100,000",
      "label": "Target amount"
    },
    {
      "type": "text",
      "id": "amount_raised",
      "default": "£20,000",
      "label": "Amount raised"
    },
    {
      "type": "text",
      "id": "amount_remaining",
      "default": "£80,000",
      "label": "Amount remaining"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collage2.settings.desktop_layout.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.collage2.settings.desktop_layout.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.collage2.settings.desktop_layout.label"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "collage2",
          "label": "t:sections.collage2.settings.mobile_layout.options__1.label"
        },
        {
          "value": "column",
          "label": "t:sections.collage2.settings.mobile_layout.options__2.label"
        }
      ],
      "default": "collage2",
      "label": "t:sections.collage2.settings.mobile_layout.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage2.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage2.blocks.image.settings.image.label"
        },
        {
          "type": "text",
          "id": "donate_text",
          "label": "Text to display on image hover",
          "default": "Donate towards shelter"
        },
        {
          "type": "checkbox",
          "id": "image_padding",
          "default": false,
          "label": "t:sections.collage2.blocks.image.settings.image_padding.label",
          "info": "t:sections.collage2.blocks.image.settings.image_padding.info"
        }
      ]
    },
    {
      "type": "product",
      "name": "t:sections.collage2.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage2.blocks.product.settings.product.label"
        },
        {
          "type": "checkbox",
          "id": "second_image",
          "default": false,
          "label": "t:sections.collage2.blocks.product.settings.second_image.label"
        }
      ]
    },
    {
      "type": "collection",
      "name": "t:sections.collage2.blocks.collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collage2.blocks.collection.settings.collection.label"
        }
      ]
    },
    {
      "type": "video",
      "name": "t:sections.collage2.blocks.video.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.collage2.blocks.video.settings.cover_image.label"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.collage2.blocks.video.settings.video_url.label",
          "placeholder": "t:sections.collage2.blocks.video.settings.video_url.placeholder",
          "info": "t:sections.collage2.blocks.video.settings.video_url.info"
        },
        {
          "type": "text",
          "id": "description",
          "default": "Describe the video",
          "label": "t:sections.collage2.blocks.video.settings.description.label",
          "info": "t:sections.collage2.blocks.video.settings.description.info"
        },
        {
          "type": "checkbox",
          "id": "image_padding",
          "default": false,
          "label": "t:sections.collage2.blocks.video.settings.image_padding.label",
          "info": "t:sections.collage2.blocks.video.settings.image_padding.info"
        }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "t:sections.collage2.presets.name",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "product"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
