{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'custom-raffle.css' | asset_url | stylesheet_tag }}

<style>
  .raffle-image-container {
    background: url({{ 'concentric-circles.svg' | asset_url }}) no-repeat center center;
    background-size: contain;
  }

  .image-with-text__grid {
    position: relative;
  }

  .rules-container {
    background-image: url({{ 'testimony-bg.png' | asset_url }});
  }

  #shopify-section-template--16721276764396__raffle {
    background-image: url({{ 'bottom-left-by-effect.svg' | asset_url }}),
    url({{ 'top-right-bg-effect.svg' | asset_url }});
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left, top right;
    overflow: hidden;
  }

  .raffle-details {
    background: none;
  }
</style>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width page-hero"><h6>
  <span class="link-wrapper"><a href="/">Home</a>/ 
    <span class=page-hero-title>Raffle
</span>
</h6></div>

<div class="raffle-section section-p section-m page-width image-with-text image-with-text--{{ section.settings.content_layout }}">
  <!--
    <div class="section-4 custom-section-4 image-with-text image-with-text--{{ section.settings.content_layout }}">
  -->

  <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
    <div class="raffle-image-container image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
      <div
        class="raffle-image-wrapper image-with-text__media image-with-text__media--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
        {% if section.settings.height == 'adapt' and section.settings.image != blank %}
          style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
        {% endif %}
      >
        {%- if section.settings.image != blank -%}
          <img
            srcset="
              {%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ section.settings.image | image_url }} {{ section.settings.image.width }}w
            "
            src="{{ section.settings.image | image_url: width: 1500 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ section.settings.image.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    </div>
    <div class="image-with-text__text-item grid__item">
      <div
        id="custom-funds-section ImageWithText--{{ section.id }}"
        class="raffle-details raffle-image-with-text image-with-text image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} content-container"
      >
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
              <h2
                class="custom-raffle-h2 image-with-text__heading {{ block.settings.heading_size }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.heading | escape }}
              </h2>
            {%- when 'caption' -%}
              <p
                class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'progress_bar' -%}
              <!-- Progress Bar START -->
              <div class="raffle-caption"><p>{{ block.settings.progress_caption }}</p></div>
              <div class="stepper-wrapper">
                {%- if block.settings.progress_1 != blank -%}
                  <div class="stepper-item completed active">
                    <div class="step-counter">1</div>
                    <div class="step-name">
                      <p>{{ block.settings.progress_1 }}</p>
                    </div>
                  </div>
                {%- endif -%}
                {%- if block.settings.progress_2 != blank -%}
                  <div class="stepper-item completed active">
                    <div class="step-counter">2</div>
                    <div class="step-name">
                      <p>{{ block.settings.progress_2 }}</p>
                    </div>
                  </div>
                {%- endif -%}
                {%- if block.settings.progress_3 != blank -%}
                  <div class="stepper-item completed active">
                    <div class="step-counter">3</div>
                    <div class="step-name">
                      <p>{{ block.settings.progress_3 }}</p>
                    </div>
                  </div>
                {%- endif -%}
                {%- if block.settings.progress_4 != blank -%}
                  <div class="stepper-item completed active">
                    <div class="step-counter">4</div>
                    <div class="step-name">
                      <p>{{ block.settings.progress_4 }}</p>
                    </div>
                  </div>
                {%- endif -%}
              </div>
              <!-- Progress Bar END -->

              <!-- Countdown START -->
            {%- when 'countdown_timer' -%}
              {% if block.settings.end_date != blank %}
                <div class="timer">
                  <div class="timer-display">
                    <div class="timer-block">
                      <span class="timer-block__num js-timer-days">00</span>
                      <span class="timer-block__unit">days</span>
                    </div>
                    <span class="timer-block__colon">:</span>
                    <div class="timer-block">
                      <span class="timer-block__num js-timer-hours">00</span>
                      <span class="timer-block__unit">hrs</span>
                    </div>
                    <span class="timer-block__colon">:</span>
                    <div class="timer-block">
                      <span class="timer-block__num js-timer-minutes">00</span>
                      <span class="timer-block__unit">min</span>
                    </div>
                    <span class="timer-block__colon">:</span>
                    <div class="timer-block">
                      <span class="timer-block__num js-timer-seconds">00</span>
                      <span class="timer-block__unit">secs</span>
                    </div>
                  </div>
                </div>
                <script type="text/javascript">
                  var second = 1000,
                    minute = second * 60,
                    hour = minute * 60,
                    day = hour * 24;
                  var countDown = new Date('{{- block.settings.end_date -}}').getTime(),
                    x = setInterval(function () {
                      var now = new Date().getTime(),
                        distance = countDown - now;
                      (document.querySelector('.js-timer-days').innerText = Math.floor(distance / day)),
                        (document.querySelector('.js-timer-hours').innerText = Math.floor((distance % day) / hour)),
                        (document.querySelector('.js-timer-minutes').innerText = Math.floor(
                          (distance % hour) / minute
                        )),
                        (document.querySelector('.js-timer-seconds').innerText = Math.floor(
                          (distance % minute) / second
                        ));
                    }, second);
                </script>
              {% endif %}
              <!-- Countdown END -->
              <!-- Entries START -->
            {%- when 'entries' -%}
              {% if block.settings.total_entries != blank %}
                <div class="raffle-entry-outter">
                  <div class="raffle-entries-container">
                    <div class="raffle-entries">
                      <p>Total Entries : {{ block.settings.total_entries }}</p>
                    </div>
                  </div>
                </div>
              {% endif %}
              <!-- Entries END -->

            {%- when 'buttons' -%}
              <div
                class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label_1 != blank -%}
                  <button
                    {% if block.settings.button_link_1 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_1 }}"
                    {% endif %}
                    type="button"
                    class="open-btn button {% if block.settings.button_style_secondary_1 %} raffle-button--secondary{% else %} raffle-button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_1 | escape -}}
                  </button>
                {%- endif -%}

                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button {% if block.settings.button_style_secondary_2 %} raffle-button--secondary{% else %} raffle-button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>

            </div>
          </div>
          {%- when 'rules_and_eligibity' -%}
          <div class="rules-container page-width">
            <button type="button" class="close-modal-button">
              {% render 'icon-octagon-close' %}
            </button>
            <h2 class="rules-header">Rules And Eligibity</h2>
            <div class="rules-grid">
              <article>
                <h3>To be Eligible</h3>
                <p>{{ block.settings.eligibity }}</p>
              </article>
              <article>
                <h3>Rules</h3>
                <p>{{ block.settings.rules }}</p>
              </article>
            </div>
          </div>
          <script>
            const modalOpenBtn = document.querySelector(".open-btn");
            const modalCloseBtn = document.querySelector(".close-modal-button");
            const modal = document.querySelector(".rules-container");
            
            const openModal = () => {
            modal.classList.add("active-modal");
            }
            
            const closeModal = () => {
              modal.classList.remove("active-modal");
              }
            
              modalOpenBtn.addEventListener("click", openModal);
              modalCloseBtn.addEventListener("click", closeModal);
            </script>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>



{% schema %}
{
  "name": "t:sections.custom-raffle.name",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.custom-raffle.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.custom-raffle.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.custom-raffle.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.custom-raffle.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.custom-raffle.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.custom-raffle.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.custom-raffle.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.custom-raffle.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.custom-raffle.settings.desktop_image_width.label",
      "info": "t:sections.custom-raffle.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.custom-raffle.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.custom-raffle.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.custom-raffle.settings.layout.label",
      "info": "t:sections.custom-raffle.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.custom-raffle.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.custom-raffle.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.custom-raffle.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.custom-raffle.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.custom-raffle.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.custom-raffle.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.custom-raffle.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.custom-raffle.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.custom-raffle.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.custom-raffle.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.custom-raffle.settings.content_layout.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.custom-raffle.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.custom-raffle.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.custom-raffle.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.custom-raffle.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.custom-raffle.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "New Raffle",
          "label": "t:sections.custom-raffle.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.custom-raffle.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline/description",
          "label": "t:sections.custom-raffle.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.custom-raffle.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.custom-raffle.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.custom-raffle.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.custom-raffle.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.custom-raffle.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.custom-raffle.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.custom-raffle.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "progress_bar",
      "name": "Progress bar",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "progress_caption",
          "default": "Steps to get your raffle Ticket",
          "label": "t:sections.custom-raffle.blocks.caption.settings.text.label"
        },
        {
          "type": "richtext",
          "id": "progress_1",
          "default": "<p>Step 1</p>",
          "label": "t:sections.custom-raffle.blocks.text.settings.text.label"
        },
        {
          "type": "richtext",
          "id": "progress_2",
          "default": "<p>Step 2</p>",
          "label": "t:sections.custom-raffle.blocks.text.settings.text.label"
        },
        {
          "type": "richtext",
          "id": "progress_3",
          "default": "<p>Step 3</p>",
          "label": "t:sections.custom-raffle.blocks.text.settings.text.label"
        },
        {
          "type": "richtext",
          "id": "progress_4",
          "default": "<p>Step 4</p>",
          "label": "t:sections.custom-raffle.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.custom-raffle.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.custom-raffle.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.custom-raffle.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "countdown_timer",
      "name": "Countdown Timer",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "end_date",
          "default": "2033/08/12 16:00",
          "label": "Giveaway End Date",
          "info": "Input the end date of the giveaway event in the format YYYY/MM/DD HH:MM"
        }
      ]
    },
    {
      "type": "entries",
      "name": "Entries",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "total_entries",
          "default": "00",
          "label": "Total entries"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    },
    {
      "type": "rules_and_eligibity",
      "name": "Rules and Eligibity",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "eligibity",
          "default": "<p>The raffle is open to all individuals who are at least 18 years of age or older at the time of entry. Employees of the website and their immediate family members are not eligible to participate.</p>",
          "label": "Eligibilty"
        },
        {
          "type": "richtext",
          "id": "rules",
          "default": "<p>Clearly describe the prize that will be awarded to the winner, including any restrictions or limitations.  Clearly state any actions that may lead to disqualification from the raffle, such as attempting to cheat or submitting false information.</p>",
          "label": "Rules"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-raffle.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "progress_bar"
        },
        {
          "type": "countdown_timer"
        },
        {
          "type": "entries"
        },
        {
          "type": "buttons"
        },
        {
          "type": "rules_and_eligibity"
        }
      ]
    }
  ]
}
{% endschema %}
